<h2> You have <%= gamecount %> game(s) </h2>

<h1>Game Name:</h1>
<% for (var i = 0; i < games.length; i++) { %>
  <p><%= games[i].name %></p>
  <img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%=games[i].appid%>/<%=games[i].img_logo_url%>.jpg">
<% } %>