<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

  <form name="input" action="getgames" method="post">
    Steam_ID 1: <input type="text" name="steamID">
    <input type="submit" value="Submit">
  </form>

  </body>
</html>

